/* Shaan Compendium styles */

.source {
  text-align: right;
  color: #666;
  padding-bottom: 0;
}

.fiche-pouvoir {
  color: var(--esprit-color);
  font-size: 19px;
  line-height: 21px;
}

.card h2 {
  font-weight: bold;
  font-size: 150%;
}

.card h2,
.card h3,
.card .h3  {
  color: var(--shaan-green);
}

.card-body h2 {
  border-bottom: 1px dotted;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.surnom {
  display: block;
  font-size: 75%;
  font-weight: normal;
  font-style: italic;
}

h3, .h3 {
  line-height: 25px;
  font-size: 20px;
  margin: 5px 0;
}

fieldset.selectpouvoirgroup,
fieldset.selectuserpouvoirsgroup {
  margin-top: 5px;
}

fieldset.selectpouvoirgroup .ui-button.ui-widget,
fieldset.selectuserpouvoirsgroup .ui-button.ui-widget {
  font-size: 0.8em;
}

fieldset.selectpouvoirgroup .ui-button,
fieldset.selectuserpouvoirsgroup .ui-button {
  padding: 0.2em 0.4em;
}

fieldset.selectpouvoirgroup .ui-button.ui-state-active,
fieldset.selectuserpouvoirsgroup .ui-button.ui-state-focus,
fieldset.selectuserpouvoirsgroup .ui-button.ui-state-active {
  color: #45714f;
}

.vert,
.Terre {
  color: #0a2c22;
}

.p-orig {
  font-style: italic;
}

.technique,
.sortable .technique {
  background-image: url("../img/domaines/technique_small.webp");
}

.savoir,
.sortable .savoir {
  background-image: url("../img/domaines/savoir_small.webp");
}

.social,
.sortable .social {
  background-image: url("../img/domaines/social_small.webp");
}

.arts,
.sortable .arts {
  background-image: url("../img/domaines/arts_small.webp");
}

.shaan,
.sortable .shaan {
  background-image: url("../img/domaines/shaan_small.webp");
}

.magie,
.sortable .magie {
  background-image: url("../img/domaines/magie_small.webp");
}

.rituels,
.sortable .rituels {
  background-image: url("../img/domaines/rituels_small.webp");
}

.survie,
.sortable .survie {
  background-image: url("../img/domaines/survie_small.webp");
}

.combat,
.sortable .combat {
  background-image: url("../img/domaines/combat_small.webp");
}

.necrose,
.sortable .necrose {
  background-image: url("../img/domaines/necrose_small.webp");
}

.card-body,
.card-header {
  background-repeat: no-repeat;
  background-size: 1.5em;
  background-position: calc(100% - .5em) .5em;
}

body {
  background-image: url("https://raw.githubusercontent.com/vdhilly/shaanrenaissance/refs/heads/main/assets/sheet/template_shaan_background1.jpg");
  background-size: cover;
}

@media print {
  body {
    background-image: none;
  }

  .modal {
    --bs-modal-border-color: transparent;
  }
  .modal-backdrop{
    background-color: white;
    --bs-backdrop-opacity: 1;
  }
  .modal-header,
  .modal-footer {
    display: none;
  }

  .modal .item{
    max-width: 100%;
    width: 100%;
  }

  .container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  .card {
    break-inside: avoid;
  }

  .col-sm-12{
    width: 50%;
  }

}
