
<div
  {{#width}}
    class="item {{width}}"
  {{/width}}
  {{^width}}
    class="item col-sm-12 col-md-6 col-lg-4 mb-2"
  {{/width}}
  >
  <div class="card fiche_acquis {{dom_color}}">
    <div class="card-header"></div>
    <div class="card-body {{dom_type}}">
      <h2 class="mt-0 pt-0">{{Nom}}</h2>
      <img class="float-end p-1" style="max-width:50%" src="{{Image}}">
      <p class="jaune">
        Acquis <strong>{{Domaine}}</strong>
        {{#Rang}}
          de Classe {{Rang}}
        {{/Rang}}
      </p>
      <ul class="h3 list-unstyled">
        <li class="a-cat">
          <strong>Catégorie :</strong>
          <span>{{Catégorie}}</span>
        </li>
        {{#Spécialisation}}
          <li class="a-spe">
            <strong>Spécialisation :</strong>
            <span>{{Spécialisation}}</span>
          </li>
        {{/Spécialisation}}
        {{#Attributs}}
          <li class="a-attr">{{Attributs}}</li>
        {{/Attributs}}
      </ul>
      {{#Résumé}}
        <p class="jaune">Résumé : {{Résumé}}</p>
      {{/Résumé}}
      <ul class="lh-sm jaune">
        {{#Valeur}}
          <li class="a-val">
            <strong>Valeur :</strong>
            <span>{{Valeur}}</span>
          </li>
        {{/Valeur}}
        {{#Prestige}}
          <li class="a-pres">
            <strong>Prestige :</strong>
            <span>{{Prestige}} point</span>
          </li>
        {{/Prestige}}
        {{#Ressources}}
          <li class="a-res">
            <strong>Ressources :</strong>
            <span>{{{Ressources}}}</span>
          </li>
        {{/Ressources}}
        {{#Fabrication}}
          <li class="a-fab">
            <strong>Fabrication :</strong>
            <span>{{Fabrication}}</span>
          </li>
        {{/Fabrication}}
        {{#Dressage}}
          <li class="a-dress">
            <strong>Dressage :</strong>
            <span>{{Dressage}}</span>
          </li>
        {{/Dressage}}
        {{#Entretien}}
          <li class="a-entr">
            <strong>Entretien :</strong>
            <span>{{{Entretien}}}</span>
          </li>
        {{/Entretien}}
      </ul>
      <div class="description mt-3" id="details">{{Détails}}</div>
      <p class="source text-end">{{Source}}</p>
    </div>

  </div>
</div>
