
<tr class="item" id="{{Acquis}}">
  <td class="nocel">
    <input type="checkbox" name="select_item[]" value="'{{Acquis}}'" aria-label="{{Acquis}}">
  </td>
  <td class="col-name"><a href="#{{Acquis}}" data-name="{{Acquis}}" onclick="modal_acquis(this, event)">{{Acquis}}</a></td>
  <td class="col-domaine">{{Domaine}}</td>
  <td class="col-rang">{{Rang}}</td>
  <td class="col-categorie">{{Catégorie}}</td>
  <td class="col-specialisation">{{Spécialisation}}</td>
  <!--td class="col-attributs">{{Attributs}}</td>
  <td class="col-resume">{{Résumé}}</td>
  <td class="col-valeur">{{Valeur}}</td>
  <td class="col-prestige">{{Prestige}}</td>
  <td class="col-ressources">{{Ressources}}</td>
  <td class="col-fabrication">{{Fabrication}}</td>
  <td class="col-dressage">{{Dressage}}</td>
  <td class="col-entretien">{{Entretien}}</td>
  <td class="col-details">{{Détails}}</td-->
  <td class="col-source">{{Source}}</td>
</tr>
