
<div
  {{#width}}
    class="item {{width}}"
  {{/width}}
  {{^width}}
    class="item col-sm-12 col-md-6 col-lg-4 mb-2"
  {{/width}}
  >
  <div class="card fiche_acquis">
    <div class="card-header"></div>
    <div class="card-body {{dom_type}}">
      <h2 class="mt-0 pt-0">{{Nom}}</h2>
      <img class="float-end p-1" style="max-width:50%" src="{{Image}}">
      <p class="jaune">
        Acquis <strong>{{Domaine}}</strong>
        {{#Rang}}
          de Classe {{Rang}}
        {{/Rang}}
      </p>
      <ul class="h3 list-unstyled">
        <li><strong>Catégorie :</strong> <span id="a_cat">{{Catégorie}}</span></li>
        {{#Spécialisation}}
          <li>
            <strong>Spécialisation :</strong>
            <span id="a_spe">{{Spécialisation}}</span>
          </li>
        {{/Spécialisation}}
        {{#Attributs}}
          <li>{{Attributs}}</li>
        {{/Attributs}}
      </ul>
      {{#Résumé}}
        <p class="jaune">Résumé : {{Résumé}}</p>
      {{/Résumé}}
      <ul class="lh-sm jaune">
        {{#Valeur}}
          <li>
            <strong>Valeur :</strong> <span class="a_val">{{Valeur}}</span>
          </li>
        {{/Valeur}}
        {{#Prestige}}
          <li>
            <strong>Prestige :</strong>
            <span class="a-pres">{{Prestige}} point</span>
          </li>
        {{/Prestige}}
        {{#Ressources}}
          <li>
            <strong>Ressources :</strong>
            <span class="a-res">{{{Ressources}}}</span>
          </li>
        {{/Ressources}}
        {{#Fabrication}}
          <li>
            <strong>Fabrication :</strong>
            <span class="a-fab">{{Fabrication}}</span>
          </li>
        {{/Fabrication}}
        {{#Dressage}}
          <li>
            <strong>Dressage :</strong>
            <span class="a-dress">{{Dressage}}</span>
          </li>
        {{/Dressage}}
        {{#Entretien}}
          <li>
            <strong>Entretien :</strong>
            <span class="a-entr">{{{Entretien}}}</span>
          </li>
        {{/Entretien}}
      </ul>
      <div class="description mt-3" id="details">{{Détails}}</div>
      <p class="source text-end">{{Source}}</p>
    </div>

  </div>
</div>
