<div id="cercle" class="sw">
  <div class="trihn" id="corps">{{Corps}}</div>
  <div class="trihn" id="ame">{{Ame}}</div>
  <div class="trihn" id="esprit">{{Esprit}}</div>

  <div id="dom0" class="dom">{{Nécrose}}</div>
  <div id="dom0p" class="plusmoins domplus"><a href="javascript:changeDomaine(1,0)"><img decoding="async"
       src="https://www.shaan-rpg.com/wp-content/themes/renaissance/img/plus.png"></a></div>
  <div id="dom0m" class="plusmoins dommoins"><a href="javascript:changeDomaine(0,0)"><img decoding="async"
       src="https://www.shaan-rpg.com/wp-content/themes/renaissance/img/moins.png"></a></div>

  <div id="dom1" class="dom">{{Technique}}</div>
  <div id="dom1p" class="plusmoins domplus"><a href="javascript:changeDomaine(1,1)"><img decoding="async"
       src="https://www.shaan-rpg.com/wp-content/themes/renaissance/img/plus.png"></a></div>
  <div id="dom1m" class="plusmoins dommoins"><a href="javascript:changeDomaine(0,1)"><img decoding="async"
       src="https://www.shaan-rpg.com/wp-content/themes/renaissance/img/moins.png"></a></div>

  <div id="dom2" class="dom">{{Savoir}}</div>
  <div id="dom2p" class="plusmoins domplus"><a href="javascript:changeDomaine(1,2)"><img decoding="async"
       src="https://www.shaan-rpg.com/wp-content/themes/renaissance/img/plus.png"></a></div>
  <div id="dom2m" class="plusmoins dommoins"><a href="javascript:changeDomaine(0,2)"><img decoding="async"
       src="https://www.shaan-rpg.com/wp-content/themes/renaissance/img/moins.png"></a></div>

  <div id="dom3" class="dom">{{Social}}</div>
  <div id="dom3p" class="plusmoins domplus"><a href="javascript:changeDomaine(1,3)"><img decoding="async"
       src="https://www.shaan-rpg.com/wp-content/themes/renaissance/img/plus.png"></a></div>
  <div id="dom3m" class="plusmoins dommoins"><a href="javascript:changeDomaine(0,3)"><img decoding="async"
       src="https://www.shaan-rpg.com/wp-content/themes/renaissance/img/moins.png"></a></div>

  <div id="dom4" class="dom">{{Arts}}</div>
  <div id="dom4p" class="plusmoins domplus"><a href="javascript:changeDomaine(1,4)"><img decoding="async"
       src="https://www.shaan-rpg.com/wp-content/themes/renaissance/img/plus.png"></a></div>
  <div id="dom4m" class="plusmoins dommoins"><a href="javascript:changeDomaine(0,4)"><img decoding="async"
       src="https://www.shaan-rpg.com/wp-content/themes/renaissance/img/moins.png"></a></div>

  <div id="dom5" class="dom">{{Shaan}}</div>
  <div id="dom5p" class="plusmoins domplus"><a href="javascript:changeDomaine(1,5)"><img decoding="async"
       src="https://www.shaan-rpg.com/wp-content/themes/renaissance/img/plus.png"></a></div>
  <div id="dom5m" class="plusmoins dommoins"><a href="javascript:changeDomaine(0,5)"><img decoding="async"
       src="https://www.shaan-rpg.com/wp-content/themes/renaissance/img/moins.png"></a></div>

  <div id="dom6" class="dom">{{Magie}}</div>
  <div id="dom6p" class="plusmoins domplus"><a href="javascript:changeDomaine(1,6)"><img decoding="async"
       src="https://www.shaan-rpg.com/wp-content/themes/renaissance/img/plus.png"></a></div>
  <div id="dom6m" class="plusmoins dommoins"><a href="javascript:changeDomaine(0,6)"><img decoding="async"
       src="https://www.shaan-rpg.com/wp-content/themes/renaissance/img/moins.png"></a></div>

  <div id="dom7" class="dom">{{Rituels}}</div>
  <div id="dom7p" class="plusmoins domplus"><a href="javascript:changeDomaine(1,7)"><img decoding="async"
       src="https://www.shaan-rpg.com/wp-content/themes/renaissance/img/plus.png"></a></div>
  <div id="dom7m" class="plusmoins dommoins"><a href="javascript:changeDomaine(0,7)"><img decoding="async"
       src="https://www.shaan-rpg.com/wp-content/themes/renaissance/img/moins.png"></a></div>

  <div id="dom8" class="dom">{{Survie}}</div>
  <div id="dom8p" class="plusmoins domplus"><a href="javascript:changeDomaine(1,8)"><img decoding="async"
       src="https://www.shaan-rpg.com/wp-content/themes/renaissance/img/plus.png"></a></div>
  <div id="dom8m" class="plusmoins dommoins"><a href="javascript:changeDomaine(0,8)"><img decoding="async"
       src="https://www.shaan-rpg.com/wp-content/themes/renaissance/img/moins.png"></a></div>

  <div id="dom9" class="dom">{{Combat}}</div>
  <div id="dom9p" class="plusmoins domplus"><a href="javascript:changeDomaine(1,9)"><img decoding="async"
       src="https://www.shaan-rpg.com/wp-content/themes/renaissance/img/plus.png"></a></div>
  <div id="dom9m" class="plusmoins dommoins"><a href="javascript:changeDomaine(0,9)"><img decoding="async"
       src="https://www.shaan-rpg.com/wp-content/themes/renaissance/img/moins.png"></a></div>
</div>