
<div
  {{#width}}
    class="item {{width}}"
  {{/width}}
  {{^width}}
    class="item col-sm-12 col-md-6 col-lg-4 mb-2"
  {{/width}}
  >
  <div class="card fiche-metier">
    <div class="card-header {{dom_type}}">
      <h2 class="mt-0 pt-0">{{Nom}}</h2>
    </div>
    <div class="card-body">
      {{#Image}}
        <img class="float-end p-1" style="max-width:50%" src="{{Image}}">
      {{/Image}}

      <ul class="h3 list-unstyled">
        {{#Castes}}
          <li>
            <strong>Castes :</strong>
            <span>{{Castes}}</span>
          </li>
        {{/Castes}}
        {{#Domaines}}
          <li>
            <strong>Domaines de prédilection :</strong>
            <span>{{Domaines}}</span>
          </li>
        {{/Domaines}}
        {{#Spécialisations}}
          <li>
            <strong>Spécialisations :</strong>
            <span class="m-spe">{{Spécialisations}}</span>
          </li>
        {{/Spécialisations}}
        {{#Nom du pouvoir}}
          <li>
            <strong>Pouvoir :</strong>
            <span class="m-pow">
              <a href="#{{Nom du pouvoir}}"
                 data-name="{{Nom du pouvoir}}"
                 onclick="modal_getitem(this, event, 'pouvoir')">
                {{Nom du pouvoir}}
              </a>
            </span>
          </li>
        {{/Nom du pouvoir}}
      </ul>

      <div class="description mt-3">{{Description}}</div>
      <p class="source text-end">{{Source}}</p>
      <div class="text-center d-print-none">
        <a href="#" class="btn btn-primary"
           data-dom_list="{{dom_list}}"
           data-lvl="{{lvl}}"
           onclick="createPNJfromJob(this, event, {'Métier': '{{Nom}}'})">
           Générer un protagoniste
        </a>
      </div>
    </div>
  </div>
</div>
