
<div class="col-sm-12 col-lg-6 mb-2">
  <div class="card fiche-pouvoir">
    <div class="card-header {{Domaine}}">
      <h2 class="title red text-center mb-0">{{Nom}}</h2>
    </div>
    {{#Domaines}}
      <div class="d-flex justify-content-center">
        {{> cercle}}
      </div>
    {{/Domaines}}
    <div class="card-body">
      <img class="float-end p-1" style="max-width:50%" src="{{Image}}">
      <div class="float-end text-right">
        <span class="source">{{Source}}</span>
      </div>
      <p class="p-orig">
        Domaine de prédilection : <span class="uppercase">{{Domaine}}</span>
      </p>
      <ul class="h3">
        <li>
          <strong>Population :</strong>
          <span>{{Population}}</span>
        </li>
        {{#Localisation}}
          <li>
            <strong>Localisation :</strong>
            <span>{{Localisation}}</span>
          </li>
        {{/Localisation}}
        {{#Régions héossiennes}}
          <li>
            <strong>Régions héossiennes :</strong>
            <span>{{Régions héossiennes}}</span>
          </li>
        {{/Régions héossiennes}}
        {{#Élément totem}}
          <li>
            <strong>Élément totem :</strong>
            <span>{{Élément totem}}</span>
          </li>
        {{/Élément totem}}
        {{#Amis}}
          <li>
            <strong>Amis :</strong>
            <span>{{Amis}}</span>
          </li>
        {{/Amis}}
        {{#Méfiance}}
          <li>
            <strong>Méfiance :</strong>
            <span>{{Méfiance}}</span>
          </li>
        {{/Méfiance}}
      </ul>
      {{#Description}}
        <div class="vert" id="p_desc">
          {{Description}}
        </div>
      {{/Description}}
    </div>
    <div class="card-footer">
    </div>
  </div>
</div>
