<option value="{{index}}" class="item" title="{{Titre}}"
data-sujets="{{Sujets}}"
data-action="{{Action}}"
data-lien="{{Lien}}"
data-median="{{Médian}}"
data-complements="{{Compléments}}"
data-trihn="{{Trihn}}"
data-cible="{{Cible}}"
data-frequence="{{Fréquence}}"
data-portée="{{Portée}}"
data-cibles="{{Cibles}}"
data-duree="{{Durée}}"
data-effet="{{Effet}}"
data-enchanteur="{{Enchanteur}}"
data-source="{{Source}}"
>
  {{Titre}} &mdash; {{Algo}}
</option>
