
<div class="col-sm-12 col-md-6 col-lg-4 mb-2">
  <div class="card fiche_pouvoir">
    <div class="card-header"></div>
    <div class="card-body {{Domaine}}">
      <h2>{{Nom du Pouvoir}}</h2>
      <div class="float-end text-right">
        <span class="source">{{source}}</span>
      </div>
      <p class="p_orig">
        <span id="p_orig">{{dom_type}} de <span class="uppercase">{{Domaine}}</span></span>
        de <strong>Rang <span id="p_rank">{{Rang}}</span></strong>
      </p>
      <ul class="h3">
        <li><strong>Type :</strong> <span id="p_type">"{{Type}}"</span></li>
        <li><strong>Fréquence :</strong> <span id="p_freq">{{Fréquence}}</span></li>
        {{#Activation}}
          <li>
            <strong>Activation :</strong>
            <span id="p_activ">{{Activation}}</span>
          </li>
        {{/Activation}}
        {{#Score}}
          <li>
            <strong>Score :</strong>
            <span id="p_scor">{{Score}}</span>
          </li>
        {{/Score}}
        {{#Portée}}
          <li>
            <strong>Portée :</strong>
            <span id="p_port">{{Portée}}</span>
          </li>
        {{/Portée}}
        {{#Nombre de cibles}}
          <li>
            <strong>Nombre de cibles :</strong>
            <span id="p_targets">{{Nombre de cibles}}</span>
          </li>
        {{/Nombre de cibles}}
        <li>
          <strong>Durée :</strong>
          <span id="p_dura">{{Durée}}</span>
        </li>
      </ul>
      <p>Résumé : <em id="p_summary">{{Résumé}}</em></p>
      <div class="vert" id="p_desc">
        {{Effet}}
      </div>
    </div>
  </div>
</div>
