
<tr class="item" id="{{Nom}}">
  <td class="nocel">
    <input class="form-check-input" type="checkbox"
     name="select_item"
     value="{{Nom}}" aria-label="{{Nom}}">
  </td>
  <td class="col-name"><a href="#{{Nom}}" data-name="{{Nom}}" onclick="modal_item(this, event, 'specialisation')">{{Nom}}</a></td>
  <td class="col-domaine">{{Domaine}}</td>
  <td class="col-metier">{{Métier}}</td>
  <td class="col-batiment">{{Bâtiment}}</td>
  <td class="col-source">{{Source}}</td>
</tr>
