
<div
  {{#width}}
    class="item {{width}}"
  {{/width}}
  {{^width}}
    class="item col-sm-12 col-md-6 col-lg-4 mb-2"
  {{/width}}
  >
  <div class="card fiche-sort" {{#Zoom}}style="zoom: {{Zoom}}"{{/Zoom}}>
    <div class="card-header">
      <h2 class="mb-0">{{Nom}}</h2>
    </div>
    <div class="card-body pt-1">
      <div>
        <i class="icon-{{css_class}}" aria-hidden="true"></i> {{School}}
        {{{Level}}}
        {{#Rituel}} <strong class="rituel">(rituel)</strong>{{/Rituel}}
      </div>
      <!--div class="meta grid" style="--bs-columns: 2;"-->
      <div class="meta d-flex justify-content-between flex-wrap mt-1">
        <div class="spell-time">
          <strong>Temps d’incantation</strong> :
          {{Temps d’incantation}}
        </div>
        <div class="spell-range">
          <strong>Portée</strong> :
          {{Portée}}
        </div>
        <div class="spell-comp">
          <strong>Composantes</strong> :
          {{Composantes}}
          {{#Matériel}}({{Matériel}}){{/Matériel}}
        </div>
        <div class="spell-duration">
          <strong>Durée</strong> :
          {{#Concentration}}<strong class="concentration">Concentration</strong>, jusqu'à {{/Concentration}}{{Durée}}
        </div>
      </div>
      <div class="description mt-1">
        {{{Description}}}
        {{#Niveau supérieur}}
          <p>
            <strong><em>Emplacement de niveau supérieur</em></strong>.<br>
            {{{Niveau supérieur}}}
          </p>
        {{/Niveau supérieur}}
      </div>
    </div>
    <div class="card-footer">
      {{#Classes}}
        <div class="classe">{{.}}</div>
      {{/Classes}}
      <div class="source">({{Source}})</div>
    </div>
  </div>
</div>
