
<tr class="item" id="{{Nom}}">
  <td class="nocel">
    <input class="form-check-input" type="checkbox"
     name="select_item"
     value="{{Nom}}" aria-label="{{Nom}}">
  </td>
  <td class="col-name">
    <a href="#{{Nom}}" data-name="{{Nom}}"
       onclick="modal_item(this, event, 'spell')">
      {{Nom}}
    </a>
  </td>
  <td class="col-school">
    <i class="icon-{{css_class}}" aria-hidden="true"></i>
    {{School}}
  </td>
  <td class="col-rang">{{Niveau}}</td>
  <td class="col-categorie">{{Temps d’incantation}}</td>
  <td class="col-rang">{{Matériel}}</td>
  <td class="col-rang">{{Rituel}}</td>
  <td class="col-rang">{{Concentration}}</td>
  <td class="col-source">{{Source}}</td>
</tr>
