
<div
  {{#width}}
    class="item {{width}}"
  {{/width}}
  {{^width}}
    class="item col-sm-12 col-md-6 col-lg-4 mb-2"
  {{/width}}
  >
  <div class="card fiche-sort blocCarte">
    <div class="card-header">
      <h2 class="mb-0">{{Nom}}</h2>
    </div>
    <div class="card-body {{css_class}}">
      <div class="meta">
        <div class="ecole">
          <i class="icon-{{School}}" aria-hidden="true"></i> {{School}}
          {{{Niveau}}}
          {{#Rituel}}-  <strong class="rituel">(rituel)</strong>{{/Rituel}}
        </div>
        <div class="row">
          <div class="col t">
            <strong>Temps d’incantation</strong> :
            {{Temps d’incantation}}
          </div>
          <div class="col r">
            <strong>Portée</strong> :
            {{Portée}}
          </div>
          <div class="col c">
            <strong>Composantes</strong> :
            {{Composantes}} {{Matériel}}
          </div>
          <div class="col d">
            <strong>Durée</strong> :
            {{Durée}}
          </div>
        </div>
      </div>
      <div class="description">
        {{{Description}}}
        {{#Niveau supérieur}}
        <p><strong><em>Emplacement de niveau supérieur</em></strong>.<br>
         {{Niveau supérieur}}</p>
        {{/Niveau supérieur}}
      </div>
    </div>
    <div class="card-footer">
      {{#Classes}}
        <div class="classe">{{.}}</div>
      {{/Classes}}
      <div class="source">({{Source}})</div>
    </div>
  </div>
</div>
