@import url("icomoon.css");



:root {
  --dd-primary: #BC0F0F;
  --dd-primary-rgb: 188,15,15;
  --dd-primary-light: #eb1313;
  --dd-primary-light-rgb: 235,19,19;
  --bs-primary-bg-subtle: #e2e2e2;
  --bs-primary-text-emphasis: #570a0a;
  --bs-link-color: var(--dd-primary);
  --bs-link-color-rgb: var(--dd-primary-rgb);
  --bs-link-hover-color: var(--dd-primary-light);
  --bs-link-hover-color-rgb: var(--dd-primary-light-rgb);
  --bs-dark-rgb: 0,0,0;

  font-size: 12px;
}

.text-bg-dark{
  --bs-link-color-rgb: 233,6,19;
  --bs-link-hover-color-rgb: var(--dd-primary-rgb);
}

.btn-primary {
  --bs-btn-bg: var(--dd-primary);
  --bs-btn-border-color: var(--dd-primary);
  --bs-btn-hover-bg: var(--dd-primary-light);
  --bs-btn-hover-border-color: #0a58ca;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-disabled-bg: var(--dd-primary);
  --bs-btn-disabled-border-color: var(--dd-primary);
}

.nav-pills {
  --bs-nav-pills-link-active-bg: var(--dd-primary);
}

.sortable {
  --th-bg: #797676;
}

.meta {
  font-size: 0.9em;
  line-height: 1.1;
}

.meta>div {
  min-width: 40%;
}

.meta>div:nth-child(even) {
  text-align: right;
}

div.classe {
  float: right;
  margin: 1px 1px 0;
  padding: 0 3px;
  background-color: #6D0000;
  color: white;
  font-family: arial, sans-serif;
  font-size: .9rem;
}

.rituel {
  padding: 1px;
  background-color: #006D00;
  color: white;
  float: right;
}

.concentration{
  color: #B80000;
}

.degats,
.pv {
  color: #6D0000;
}

.jds {
  color: #00006D;
}

.status {
  color: #006D00;
}

.description {
  padding: 4px 0 6px;
  text-align: justify
}

.source.xgte {
  color:orangered;
}

/** fiche-sort **/

.fiche-sort table,
.fiche-sort td,
.fiche-sort th {
  border: 1px solid #922610;
  padding: 2px;
}

.fiche-sort tr:nth-child(even),
.bloc table tr:nth-child(even) {
  background-color: #e0e0ff
}

.fiche-sort {
  --bs-heading-color: white;

  /*
    width: 6.3cm; // height 9.4
  */
  min-height: 8.2cm;
  font-family: Georgia, "Times New Roman", serif;
  line-height: 1.3;
  text-align: left;
}

@media print {
  .fiche-sort {
    width: 5.5cm;
  }
  .item {
    width: auto;
    padding: 1px;
    break-inside: avoid;
  }
  .container{
    max-width: 100%;
  }
  h1, nav {
    display: none;
  }
  .card-body {
    padding: 0.25rem;
  }
}

.fiche-sort>.card-header{
  --bs-card-cap-bg: #6D0000;
}

.fiche-sort h2 {
  font-size: 1.2rem;
}


.fiche-sort .ecole {
  padding: 2px 0 4px
}


.fiche-sort .carac {
  padding-left: 1px
}

.fiche-sort .description {
  padding: 2px
}

.fiche-sort-p {
  font-size: 1.1rem;
  line-height: 1.2
}

.fiche-sort-tp {
  font-size: 1.0rem;
  line-height: 1.1
}

.fiche-sort-ttp {
  font-size: 0.9rem;
  line-height: 1.0
}

.source, .col-source {
  font-size: 0.9rem;
  font-style: italic;
}

.col-school {
  text-align: center;
}

.fiche-sort .source {
  float: left;
  font-family: arial, sans-serif;
}

div.carte-dos {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-image: none;
}

.carte-dos>img {
  max-width: 100%;
}

img.portrait {
  transform: rotate(90deg);
  height: 70%;
  max-width: none;
}

img.landscape {
  max-height: 100%;
}
