/* Shaan World styles */

@font-face {
  font-family: GodofWar;
  src: url("./fonts/GodOfWar-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Komikazoom;
  src: url("./fonts/Komikazoom.ttf") format("truetype");
}

@font-face {
  font-family: AmazDoomLeft;
  src: url("./fonts/AmazDooMLeft.ttf") format("truetype");
}

:root {
  --shaan-blue: #4766a1;
  --shaan-red: #994e34;

  /** #438270 */
  --shaan-green: #45714f;
  --primary: #45714f;
  --primary-light: hsl(from var(--primary) h s calc(l + 40));
  --primary-lighter: hsl(from var(--primary) h s calc(l + 57));
  --shaan-font: "Economica", arial, helvetica, sans-serif;
  --bs-primary: var(--shaan-green);
  --bs-primary-rgb: 69, 113, 79;
  --bs-primary-text-emphasis: #45714f;
  --bs-link-color: var(--shaan-green);
  --bs-link-color-rgb: var(--bs-primary-rgb);
  --bs-link-hover-color: #29422f;
  --bs-link-hover-color-rgb: 41, 66, 47;

  /* --bs-link-hover-color-rgb: rgb(41, 66, 47); */
  --bs-primary-bg-subtle: #DFF0D8;

  /* Thrines */

  --ame-color: #547a9e;
  --ame-color-light: hsl(from var(--ame-color) h s calc(l + 40));
  --ame-color-lighter: hsl(from var(--ame-color) h s calc(l + 44));

  /* --corps-color: #c86e5a; */

  /* --esprit-color: #948562; */

  /** Couleur accessible **/

  --corps-color: #B75C52;
  --corps-color-light: hsl(from var(--corps-color) h s calc(l + 40));
  --esprit-color: #847558;
  --esprit-color-light: hsl(from var(--esprit-color) h s calc(l + 40));
  --necrose-color: #797676;
  --necrose-color-light: #CCC;
}

/* More accessible Th color for sortable tables */
.sortable {
  --th-bg: #797676;
}

.nav-pills {
  --bs-nav-pills-link-active-bg: var(--shaan-green);
}

.vert,
.green {
  color: var(--shaan-green);
}

.gris,
.gris h2 {
  color: var(--necrose-color) !important;
}

.bg-gris {
  background-color: var(--necrose-color) !important;
}

.bleu,
.bleu h2 {
  color: var(--ame-color) !important;
}

.bg-bleu {
  background-color: var(--ame-color) !important;
}

.bg-bleu-light {
  background-color: var(--ame-color-light) !important;
}

.rouge,
.rouge h2 {
  color: var(--corps-color) !important;
}

.bg-rouge {
  background-color: var(--corps-color) !important;
}

.bg-rouge-light {
  background-color: var(--corps-color-light) !important;
}


.jaune,
.jaune h2 {
  color: var(--esprit-color) !important;
}

.bg-jaune {
  background-color: var(--esprit-color) !important;
}

.bg-jaune-light {
  background-color: var(--esprit-color-light) !important;
}

/* bi-color backgrounds */

/* bleu-rouge */
.bg-blouge {
  background: linear-gradient(70deg, var(--ame-color) 50%, var(--corps-color) 50%);
}

.bg-blouge-light {
  background: linear-gradient(70deg, var(--ame-color-light) 50%, var(--corps-color-light) 50%);
}

/* bleu-jaune */
.bg-blaune-light {
  background: linear-gradient(70deg, var(--ame-color-light) 50%, var(--esprit-color-light) 50%);
}

/* rouge-jaune */
.bg-raune-light {
  background: linear-gradient(70deg, var(--corps-color-light) 50%, var(--esprit-color-light) 50%);
}

/* gris-rouge */
.bg-grouge {
  background: linear-gradient(70deg, var(--corps-color) 50%, var(--necrose-color) 50%);
}

.bg-grouge-light {
  background: linear-gradient(70deg, var(--corps-color-light) 50%, var(--necrose-color-light) 50%);
}

/* gris-bleu */
.bg-grleu {
  background: linear-gradient(70deg, var(--ame-color) 50%, var(--necrose-color) 50%);
}

.bg-grleu-light {
  background: linear-gradient(70deg, var(--ame-color-light) 50%, var(--necrose-color-light) 50%);
}

/* gris-jaune */
.bg-graune {
  background: linear-gradient(70deg, var(--esprit-color) 50%, var(--necrose-color) 50%);
}

.bg-graune-light {
  background: linear-gradient(70deg, var(--esprit-color-light) 50%, var(--necrose-color-light) 50%);
}


.bg-icon > strong,
.bg-icon > th {
  background-size: 1.5em;
  background-repeat: no-repeat;
  padding-left: 2em;
  padding-bottom: 3px;
  padding-top: 3px;
}

.bg-icon > th{
  background-position: 4px 50%;
}

.bg-icon > .bleu {
  background-image: url("https://raw.githubusercontent.com/vdhilly/shaanrenaissance/refs/heads/main/assets/icons/trihns/Ame.webp");
}

.bg-icon > .rouge {
  background-image: url("https://raw.githubusercontent.com/vdhilly/shaanrenaissance/refs/heads/main/assets/icons/trihns/Corps.webp");
}

.bg-icon > .jaune{
  background-image: url("https://raw.githubusercontent.com/vdhilly/shaanrenaissance/refs/heads/main/assets/icons/trihns/Esprit.webp");
}

.bi-info-circle {
  cursor: help;
}

body {
  --bs-body-font-family: var(--shaan-font);
  --bs-body-font-size: 14pt;
}

.title {
  font-family: GodofWar, serif;
  font-variant-caps: small-caps;
}

h1, h2 {
  font-family: Komikazoom, sans-serif;
}

.btn {
  --bs-btn-font-family: var(--shaan-font);
  --bs-btn-font-size: 14pt;
}

.btn-primary {
  --bs-btn-bg: var(--shaan-green);
  --bs-btn-border-color: #36593e;
  --bs-btn-hover-bg: #36593e;
  --bs-btn-hover-border-color: var(--shaan-green);
  --bs-btn-active-bg: #36593E;
  --bs-btn-active-border-color: var(--shaan-green);
  --bs-btn-focus-shadow-rgb: "00 00 00";
  --bs-btn-disabled-bg: #607264;
  --bs-btn-disabled-border-color: #57775f;
}

/**
SHAAN RPG Dice Roller styles
**/

label {
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
}

.version {
  position: fixed;
  bottom: 1px;
  right: 1px;
}

.des {
  background-image: url("img/ombre.webp");
  background-size: cover;
  height: 80px;
  width: 80px;
  display: inline-block;
}

.des.disabled {
  opacity: .65;
}

.cache {
  display: none;
}

.des>img {
  border: 4px solid transparent;
  padding: 4px;
  border-radius: 20px;
  transition: border-color 1s ease;
}

.des>.score-9 {
  border-color: var(--bs-success);
}

.des>.score-0 {
  border-color: var(--bs-danger);
}

/** Aides e jeu Shaan **/

.source {
  font-style: italic;
  font-size: 0.75em;
}

/** Bootstrap color fix **/
.text-bg-dark a {
  color: #aeaee1;
}

.text-bg-dark a:hover {
  color: white;
}

@media print {
  footer,
  nav,
  .shaan-title h1::after {
    display: none;
  }

  .shaan-title h1 {
    --shaan-title-left-pos: 32px !important;

    font-size: 16px !important;
    border-radius: 5px !important;
  }

  .shaan-title {
    height: 100px !important;
  }
}

/** Shaan Titles **/

.shaan-title {
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.4s;
  position: fixed;
  z-index: 10;
  margin-left: 0;
  padding-left: 0;

  /** X-Small devices **/
  height: 150px;
}

main {
  position: relative;
  z-index: 20;
}

.shaan-title h1 {
  position: relative;
  transition: 0.4s;
  text-align: center;
  background-color: #fffac2;
  border: 2px solid;
  border-radius: 10px;
  font-family: AmazDoomLeft, serif;
  padding: .4em 0 0;
  line-height: .7em;
  width: calc(100% - var(--shaan-title-left-pos) - .5rem);
  max-width: 700px;
  left: var(--shaan-title-left-pos);
  top: calc(var(--shaan-title-left-pos) / 2);

  /* Extra-Small screens (default) */
  --shaan-title-left-pos: 50px;

  font-size: 24px;
}

.shaan-title h1::after {
  width: 2.5rem;
  margin-left: 2em;
  background-image: url("img/arc_169x260.webp");
  background-size: contain;
  background-repeat: no-repeat;
  height: 2em;
  position: absolute;
  content: "";
  filter: drop-shadow(5px 3px 4px #222);
  transition: 0.2s;

  /* xs & small devices */
  opacity: 0;
}


.shaan-title.small {
  z-index: 1000;

  /* X-Small screens */
  height: 100px;
}

.shaan-title.blue {
  background-image: url("https://raw.githubusercontent.com/vdhilly/shaanworld/refs/heads/main/assets/kit/titres/template_shaan_titre_bleu.png");
  color: var(--shaan-blue);
}

.shaan-title.green {
  background-image: url("https://raw.githubusercontent.com/vdhilly/shaanworld/refs/heads/main/assets/kit/titres/template_shaan_titre_vert.png");
  color: var(--shaan-green);
}

.shaan-title.red {
  background-image: url("https://raw.githubusercontent.com/vdhilly/shaanworld/refs/heads/main/assets/kit/titres/template_shaan_titre_rouge.png");
  color: var(--shaan-red);
}

/* Smaal devices */
.shaan-title.small h1 {
  --shaan-title-left-pos: 32px;

  font-size: 20px;
  border-radius: 5px;
}



/*
  X-Small devices (portrait phones, less than 576px)
  No media query for `xs`
  since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up) */
@media (width >= 576px) {
  .shaan-title h1 {
    --shaan-title-left-pos: 50px;

    font-size: 26px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (width >= 768px) {
  .shaan-title {
    height: 200px;
  }

  .shaan-title h1 {
    --shaan-title-left-pos: 65px;

    font-size: 40px;
  }

  .shaan-title h1::after {
    right: -2%;
    top: -15%;
    opacity:1;
  }

  .shaan-title.small h1::after {
    right: -3%;
    top: -35%;
  }
}

/* Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}
*/

/* Shaan Accordions */
.accordion-item,
.accordion-header {
  mask: linear-gradient(45deg, transparent 0 var(--bottom-left, var(--all)), #fff 0) bottom left,
        linear-gradient(-45deg, transparent 0 var(--bottom-right, var(--all)), #fff 0) bottom right,
        linear-gradient(135deg, transparent 0 var(--top-left, var(--all)), #fff 0) top left,
        linear-gradient(-135deg, transparent 0 var(--top-right, var(--all)), #fff 0) top right;
  mask-size: 50.5% 50.5%;
  mask-repeat: no-repeat;
  --all: 9px;
}

.accordion-item {
  --bs-accordion-bg: #FBFBFB;
  --bs-accordion-btn-bg: #F4F4F4;
}

.accordion-header {
  --bottom-left : 0;
  --bottom-right : 0;
}

.accordion-item.vert {
  --bs-accordion-btn-color: var(--shaan-green);
  --bs-accordion-btn-bg: var(--primary-lighter);
  --bs-accordion-bg: var(--primary-lighter);
}

.accordion-item.bleu {
  --bs-accordion-active-color: var(--ame-color);
  --bs-accordion-btn-color: var(--ame-color);
  --bs-accordion-active-bg: var(--ame-color-light);
  --bs-accordion-btn-bg: var(--ame-color-lighter);
  --bs-accordion-bg: var(--ame-color-lighter);
}

